.botones {
  text-align: right;
  vertical-align: center;
  padding-top: 25px;
}
.botones button{
  margin:  5px;


}
#boton-mensaje{
  background-color: #A9E2F3;
  color:white;
  height: 40px;
  width:90px;
  border: 1px solid #E6E6E6;

}
#boton-seguir{
  background-color: #F7819F;
  color:white;
  height: 40px;
  width:90px;
  border: 1px solid #E6E6E6;
}
