.videos-populares h4{
  margin: 20px 0px 20px 140px;

}
.video p{
  color: #A4A4A4;
}
.logo h2{
  padding: 10px;
  font-size: 2rem;
}
.seguidores p{
  color: #A4A4A4;
}
.mukami h3{
  font-weight: revert;
}
.video h5{
  font-weight: revert;
}
