.contenedor2{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.video{

  width: 20%;
  height: 270px;
  margin: 5px 10px;
}
.video img{
  width: 100%;
  height: 70%;
}
/*#video1{
  margin-left: 10%;
}
#video5{
  margin-left: 10%;
}/*
/*.video2{
  background-color: red;
  width: 23%;
}
.video3{
  background-color: red;
  width: 23%;
}
.video4{
  background-color: red;
  width: 23%;
}
.video5{
  background-color: red;
  width: 23%;
}
.video6{
  background-color: red;
  width: 23%;
}
.video7{
  background-color: red;
  width: 23%;
}
.video8{
  background-color: red;
  width: 23%;
}*/
